 <form id="Dia_parameter" class="form-inline" action="." method="post">
 	 
	 	<!-- <fieldset> -->
      <div id="legend" class="">
        <legend class="">裸钻查询</legend>  <!-- title -->
      </div>
	    
	 <div class="control-group">
  		
  	 <div class="row-fluid">  <!-- split the seletion into 2 columns equally -->
	   <div class="controls"> <!-- First line research bars -->
	  		<div class="span8">
		   	   	<label>	颜色：</label>
		   	   	<strong>
			   	   	<label class="checkbox inline">
				    	<input type="checkbox" name="color1" value="D"> D
				    </label>
				    <label class="checkbox inline">
				    	<input type="checkbox" name="color2" value="E"> E
				    </label>
					<label class="checkbox inline">
				    	<input type="checkbox" name="color3" value="F"> F
				    </label>
				    <label class="checkbox inline">
				    	<input type="checkbox" name="color4" value="G"> G
				    </label>
				    <label class="checkbox inline">
				    	<input type="checkbox" name="color5" value="H"> H
				    </label>
				    <label class="checkbox inline">
				    	<input type="checkbox" name="color6" value="I"> I
				    </label>
				    <label class="checkbox inline">
				    	<input type="checkbox" name="color7" value="J"> J
				    </label>
				    <label class="checkbox inline">
				    	<input type="checkbox" name="color8" value="L"> L
				    </label>
		   	   	</strong> <!-- ./strong -->

		    </div> <!-- ./span8 -->
		    
		    <div class="span4">
			   	<label>切工：</label>
		   	   	<strong>
			   	   	<label class="checkbox inline">
				    	<input type="checkbox" name="cut1" value="ID"> ID
				    </label>
				    <label class="checkbox inline">
				    	<input type="checkbox" name="cut2" value="EX"> EX
				    </label>
					<label class="checkbox inline">
				    	<input type="checkbox" name="cut3" value="VG"> VG
				    </label>
				    <label class="checkbox inline">
				    	<input type="checkbox" name="cut4" value="GD"> GD
				    </label>
				    <label class="checkbox inline">
				    	<input type="checkbox" name="cut5" value="FR"> FR
				    </label>
		   	   	</strong> <!-- ./strong -->

		    </div> <!-- ./span6 -->
		    

		    
   		</div> <!-- ./controls First line research bars -->
   		
   </div> <!-- ./row -->
	</div> <!-- ./control-group  -->
	
	<div class="control-group">
		
		<div class="row-fluid"> <!-- split the seletion into 2 column equally -->
			<div class="controls">  <!-- second line search bar -->
			 	<div class="span8">
			 	
			 	<label>净度：</label>
		   	   	<label class="checkbox inline">
			    	<input type="checkbox" name="purity1" value="FL"> FL
			    </label>
			    <label class="checkbox inline">
			    	<input type="checkbox" name="purity2" value="IF"> IF
			    </label>
				<label class="checkbox inline">
			    	<input type="checkbox" name="purity3" value="VVS1"> VVS1
			    </label>
			    <label class="checkbox inline">
			    	<input type="checkbox" name="purity4" value="VVS2"> VVS2
			    </label>
			    <label class="checkbox inline">
			    	<input type="checkbox" name="purity5" value="VS1"> VS1
			    </label>
			    <label class="checkbox inline">
			    	<input type="checkbox" name="purity6" value="VS2"> VS2
			    </label>
			    <label class="checkbox inline">
			    	<input type="checkbox" name="purity7" value="SI1"> SI1
			    </label>
			    <label class="checkbox inline">
			    	<input type="checkbox" name="purity8" value="SI2"> SI2
			    </label>
			    <label class="checkbox inline">
			    	<input type="checkbox" name="purity9" value="I1"> I1
			    </label>
			    <label class="checkbox inline">
			    	<input type="checkbox" name="purity10" value="I2"> I2
			    </label>
			    <label class="checkbox inline">
			    	<input type="checkbox" name="purity11" value="I3"> I3
			    </label>
				</div> <!-- ./span6 -->
				 
				<div class="span4">
				   <label>抛光：</label>

			   	   	<label class="checkbox inline">
				    	<input type="checkbox" name="polish1" value="ID"> ID
				    </label>
				    <label class="checkbox inline">
				    	<input type="checkbox" name="polish2" value="EX"> EX
				    </label>
					<label class="checkbox inline">
				    	<input type="checkbox" name="polish3" value="VG"> VG
				    </label>
				    <label class="checkbox inline">
				    	<input type="checkbox" name="polish4" value="GD"> GD
				    </label>
				    <label class="checkbox inline">
				    	<input type="checkbox" name="polish5" value="FR"> FR
				    </label>

				</div>  <!-- ./span4	    --> 

		    </div> <!-- ./controls second line search bar -->
		</div> <!-- ./row-fluid -->
	 </div> <!-- ./control-group  -->
	 
	 <div class="control-group">
		<div class="row-fluid">  <!-- split the seletion into 2 column equally -->
		 	<div class="controls"> <!-- second line search bar -->		    
		 	
		 		<div class="span8">
					<label>	形状：</label>
				   	<label class="checkbox inline">
			    		<input type="checkbox" name="shape1" value="圆形"> 圆形
			    	</label>
				    <label class="checkbox inline">
				    	<input type="checkbox" name="shape2" value="公主方"> 公主方
				    </label>
					<label class="checkbox inline">
				    	<input type="checkbox" name="shape3" value="祖母绿"> 祖母绿
				    </label>
				    <label class="checkbox inline">
				    	<input type="checkbox" name="shape4" value="椭圆形"> 椭圆形
				    </label>
				    <label class="checkbox inline">
				    	<input type="checkbox" name="shape5" value="心型"> 心型
				    </label>
				    <label class="checkbox inline">
				    	<input type="checkbox" name="shape6" value="垫型"> 垫型
				    </label>
				    <label class="checkbox inline">
				    	<input type="checkbox" name="shape7" value="梨形"> 梨形
				    </label>
				    <label class="checkbox inline">
				    	<input type="checkbox" name="shape8" value="马眼形"> 马眼形
				    </label>
			  </div> <!-- ./span6 -->
			  
			  <div class="span4">
			  	<label>	对称：</label>
			   	   	<label class="checkbox inline">
				    	<input type="checkbox" name="symmetry1" value="ID"> ID
				    </label>
				    <label class="checkbox inline">
				    	<input type="checkbox" name="symmetry2" value="EX"> EX
				    </label>
					<label class="checkbox inline">
				    	<input type="checkbox" name="symmetry3" value="VG"> VG
				    </label>
				    <label class="checkbox inline">
				    	<input type="checkbox" name="symmetry4" value="GD"> GD
				    </label>
				    <label class="checkbox inline">
				    	<input type="checkbox" name="symmetry5" value="FR"> FR
				    </label>
			  </div>
			  
			    
	       </div> <!-- ./controls second line search bar -->
       </div> <!-- ./row-fluid -->
	 </div> <!-- ./control-group  -->
	 
	 <div class="control-group">	 	
	 	<div class="row-fluid">  <!-- split the seletion into 2 column equally -->
		 	<div class="controls"> <!-- third line search bar -->
		 		<div class="span8">
		 			<label>	证书：</label>
			   	   	<label class="checkbox inline">
				    	<input type="checkbox" name="cert1" value="GIA"> GIA
				    </label>
				    <label class="checkbox inline">
				    	<input type="checkbox" name="cert2" value="NGTC"> NGTC
				    </label>
					<label class="checkbox inline">
				    	<input type="checkbox" name="cert3" value="IGI"> IGI
				    </label>
				    <label class="checkbox inline">
				    	<input type="checkbox" name="cert4" value="HRD"> HRD
				    </label>
				    <label class="checkbox inline">
				    	<input type="checkbox" name="cert5" value="JGS"> JGS
				    </label>
				</div> <!-- .span8 -->
				
				<div class="span4"> 
					<label>	荧光：</label>

		   	   		<label class="checkbox inline">
				    	<input type="checkbox" name="fol1" value="N"> N
				    </label>
				    <label class="checkbox inline">
				    	<input type="checkbox" name="fol2" value="F"> F
				    </label>
					<label class="checkbox inline">
				    	<input type="checkbox" name="fol3" value="M"> M
				    </label>
				    <label class="checkbox inline">
				    	<input type="checkbox" name="fol4" value="S"> S
				    </label>
				    <label class="checkbox inline">
				    	<input type="checkbox" name="fol5" value="VS"> VS
				    </label>
				</div> <!-- ./span4 -->
				
	       </div> <!-- ./controls  -->
   		 </div>  <!-- ./row-fluid -->
	 </div> <!-- ./control-group  -->
	 
	 <div class="control-group">	 	
	 	<div class="row-fluid">  <!-- split the seletion into 2 column equally -->
		 	<div class="controls"> <!-- third line search bar -->
		 		<div class="span8">
			 		<label> 重量</label>   
			        <input type="text" class="input-small" placeholder="大于" name="weight-little"> - 
					<input type="text" class="input-small" placeholder="小于" name="weight-big">
				</div>
				
				<div class="span4">

				</div>
	       </div> <!-- ./controls  -->
   		 </div>  <!-- ./row-fluid -->
	 </div> <!-- ./control-group  -->
		
    <!-- </fieldset> -->
    <div id='SearchPage'>
    	<input type="hidden" name="page" value="1"/>
    </div>

    <input type="button" value="搜索" class="btn btn-primary" onclick="click_search_button()"/>
    
</form>  <!-- ./form -->