{% load staticfiles %}
{% load url from future %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} | {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>
        {% block viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}

        {% block style_base %}
            <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet">
            <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
            <link href="{% static "bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet">
            {% block extra_style %}{% endblock %}
        {% endblock %}

        {% block html5shim %}
            <!-- HTML5 shim, for IE6-8 support of HTML elements -->
            <!--[if lt IE 9]>
                <script src="{% static "pinax/js/html5shiv.js" %}"></script>
            <![endif]-->
        {% endblock %}

        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}
    </head>
        
    <body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}">
        <div class="{% block wrapper_class %}{% endblock %}">

            {% block topbar_base %}
                <div class="navbar {% block navbar_class %}navbar-fixed-top{% endblock %}">
                    <div class="navbar-inner">
                        <div class="container">
                            {% block topbar %}
                                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </a>
                                {% block site_brand %} <a class="brand" href="/">{{ SITE_NAME }}</a>  <h5>美女客服电话：15108236292</h5> <h5><a href="http://weibo.com/u/3876108890">猛戳这里关注微博，有惊喜哦!</a> </h5> {% endblock %}
                                <div class="nav-collapse">
                                    {% block nav %}
                                        {% comment %}
                                            <ul class="nav">
                                                <li><a href="#tab_one">One</a></li>
                                                <li><a href="#tab_two">Two</a></li>
                                            </ul>
                                        {% endcomment %}
                                    {% endblock %}
                                    <!-- {% block account_bar %}{% include "_account_bar.html" %}{% endblock %} -->
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            {% endblock %}

			<style type="text/css">

			/*body {background-color: #00CCCC}*/
			
			</style>
			
			{% block nav_bar %} 
			<!-- navigation bar -->
		      <!-- <div class="masthead">
		        <div class="navbar">
		          <div class="navbar-inner">
		            <div class="container">
		              <ul class="nav">		              	
			              	<li class="active"><a href="/">首页</a></li>
			                <li><a href="/rings"> 戒指 </a></li>
			                <li><a href="/searchdiamond">裸钻</a></li>
			                <li><a href="#">婚戒</a></li>
			                <li><a href="#">吊坠</a></li>


		              </ul>
		            </div>
		          </div>
		        </div>
		      </div> -->
		      
		  	<div class="container-fluid">
				<div class="row-fluid">
			
			<!-- The first column -->
			<div class="span1"> </div>
				
			<div class="span10">
		    <!-- Logo site -->
			<img class="img-polaroid" src="/static_own/pic/logo.jpg"/>  
			
		

		      <div class="masthead">
		        <div class="navbar">
		          <div class="navbar-inner">
		            <div class="container">
		              <ul class="nav">
			              	<li class={{first_active}}> <a href="/">首页</a></li>
			                <li class={{ring_active}}> <a href="/rings"> 戒指 </a></li>
			                <li class={{search_active}}> <a href="/searchdiamond">裸钻</a></li>
			                <li><a href="#">婚戒</a></li>
			                <li><a href="#">吊坠</a></li>
		              </ul>
		            </div>
		          </div>
		        </div><!-- /.navbar -->

		  
		    </div> <!-- /.span10 -->
				
			<div class="span1"> </div>
			
			</div>
			
			</div> <!-- /. container fulid -->
		
			
			
			{% endblock %}
			
            {% block body_base %}
                <div class="container">
                    {% include "_messages.html" %}
                    {% block body %}
                    {% endblock %}
                    {% block footer_base %}
                        <hr />
                        <footer>
                            {% block footer %}{% endblock %}
                        </footer>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>

        {% block script_base %}
            <script src="{% block jquery_src %}{% static "pinax/js/jquery.js" %}{% endblock %}"></script>
            <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
            <script src="{% static "pinax/js/theme.js" %}"></script>
            {% block extra_script %}{% endblock %}
        {% endblock %}

        {% block extra_body_base %}
            {% block extra_body %}
            
            <div class="row-fluid">
			<div class="span1"> 	</div>
			<div class="span10"> <img class="img-polaroid" src="/static_own/pic/logo.jpg" width="1500"/>	
				
			<div class="bs-docs-example">
       			 <table class="table table-bordered">
       			   <thead>
	                <tr>
	                  <th> <h4> 客服服务  </h4> </th>
	                  <th> <h4> 关于Rainbow </h4> </th>
	                  <th> <h4> 回馈意见  </h4></th>
	                  <th> <h4> 联系我们 </h4></th>
	                </tr>
	              </thead>
            	</table>
           </div>
				
			</div>
			<div class="span1"> 	</div>
		</div>
            
            {% endblock %}
        {% endblock %}
    </body>
    
    {% include "_footer.html" %}
</html>
