
{% extends "base_own.html" %}

{% load i18n %}



{% block head_title %}{% trans "雨欣珠宝" %}{% endblock %}

{% block body_class %}home{% endblock %}
        
{% block banner %}  {% endblock %}



{% block body_base %}


<div class="container-fluid">
	<div class="row-fluid">
		<div class="span1">
		</div>
		<div class="span10">
			
	<div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">商品分类</li>
              <li class="active"><a href="#">戒指</a></li>
              <li><a href="#">男戒</a></li>
              <li><a href="#">女戒</a></li>
              <li><a href="#">婚戒</a></li>
              <li class="nav-header">吊坠</li>
              <li><a href="#">18K金项链</a></li>
              <li><a href="#">18K金吊坠</a></li>
              <li class="nav-header">耳饰</li>
              <li><a href="#">钻石耳饰</a></li>
              <li><a href="#">钻石耳环</a></li>
              <li><a href="#">钻石耳坠</a></li>
              <li class="nav-header">时尚珠宝</li>
              <li><a href="#"> 时尚钻饰</a></li>
              <li><a href="#">时尚生肖</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        
        <div class = "span10">
        

        
        
        	<div class="row-fluid">
		        <img  class="img-polaroid" src="/static_own/pic/ring1.jpg" />	
		        <img  class="img-polaroid" src="/static_own/pic/ring2.jpg" />	
		        <img  class="img-polaroid" src="/static_own/pic/ring3.jpg" />	
			</div>

        	
         </div>
        
       </div> <!--/row-fluid-->
       
     </div> <!--/container-fluid-->
			
			
			
			
		</div> <!--/span10 for the whole -->
		<div class="span1">
		</div>
	</div>
</div>


 

{% endblock %}


